/*  your css code here. If applicable */
.center{
    display: flex;
    justify-content: center;
    border: 2px solid black;
    width: 200px;
    height: 200px;
    background-color: lightblue;
    align-items: center;
    
}

.box{
    color: purple;
    text-align:center;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}