/*  your css code here. If applicable */
.center{
    position: relative;
	border-top-width:2px;
	
}

.box{
    border: 2px solid black;
    width: 200px;
    height: 200px;
    background-color: lightblue;
    color: purple;
    text-align:center;
    top: 50%;
    position:center ;

}